@charset "UTF-8";

@media all{

    *{
        box-sizing: border-box;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form{
        background-color: purple;
        display: flex;
        flex-direction: column;  
        align-items: center;
        justify-content: center; 
        justify-content: space-evenly;
        
        border: 3px solid black;
        border-radius: 40px;
    }
    
    input{
        border-radius: 40px;
        border:  2px solid black;   
    }
    
    textarea{
    
        border-radius: 40px;
        border:  2px solid black;
    }
    .enviar{
    
        background-color: lime;
    
        border-radius: 40px;
        border:  2px solid black;
    }
    
    .desc{
        color: white;
        flex-wrap: wrap;
    }
    
    .status{
        display: hidden;
    }
}