@charset "UTF-8";
/*
pequenas telas: ate 600px;
celular: de 600px ate768px;
tablet: 768px ate 992px;
desktop: de 992px ate 1200px;
grandes telas: telas acima de 1200px;
*/

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
}

header {
    width: 100vw;
    height: 15vh;
    margin: 0;
    padding: 0;

    position: fixed;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    border-bottom: 3px solid white;
    background-color: black;
}

.logo {
    width: 100px;
}

.menu {
    width: 50vw;
    height: 100vh;
    padding: 0;
    margin: 0px;

    position: fixed;
    top: 0;
    right: 0;

    display: none;
    align-items: center;
    justify-content: start;

    border-radius: 10px;
    background-color: rgb(54, 51, 51);
}

.menu-hamburger {
    right: 20px;

    display: flex;
    position: absolute;
    align-self: center;
    justify-content: end;
}

.menu-hamburger:hover {
    fill: gray;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    align-self: center;
    justify-content: end;
}

.close-icon:hover {
    fill: gray;
}

.lista-atalhos {
    width: 50vw;
    margin: 0;
    padding: 0;
    display: flex;

    flex-direction: column;
    text-align: center;
}

.lista-atalhos>a {
    margin: 0;
    text-decoration: none;
    margin-bottom: 5px;
}

li {
    height: 40px;
    width: 49vw;
    font-size: 20px;

    list-style: none;
    text-decoration: none;

    border: 2px solid black;
    background-color: rgb(155, 114, 114);
    color: white;
}

.lista-atalhos>a>li:hover {
    background-color: lightgray;
}

.hero {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    background-image: url(../assets/main/code-mobile.jpg);
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    border-bottom: 3px solid rgb(58, 47, 47);
}

.hero>h1 {
    color: gold;
    font-size: 40px;
    text-shadow: 1px 1px 1px lightslategray;
    width: 400px;
}